<div class="row">
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th>img</th>
				<th>name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<!-- profile-img / Users詳細へ -->
				<td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "50x50" %></td>
				<td><%= user.name %></td>
				<td>フォロー数 : <%= @user.following.count %></td>
				<td>フォロワー数 : <%= @user.followers.count %></td>
				<td>
					<!-- Follow button -->
					<!-- current_user ！= user の時表示 -->
					<% unless current_user == user %>
					<% if current_user.following?(user) %>
					<!-- unfollow -->
					<%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html:{method: :delete}) do |f| %>
					<%= f.submit "フォローを外す", class: "btn" %>
					<% end %>
					<!--follow  -->
					<% else %>
					<%= form_for(current_user.active_relationships.build) do |f| %>
					<div><%= hidden_field_tag :followed_id, user.id %></div>
					<%= f.submit "フォローする", class: "btn btn-primary" %>
					<% end %>
					<% end %>
					<% end %>
				</td>

				<td><%= link_to "Show", user %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>



