<!-- Users#show-->
<!-- 更新完了 -->
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-3">
		<!-- Profile -->
		<h2>User info</h2>
		<% if @user.id == current_user.id %>
		<%= render 'users/profile', user: current_user %>
		<% else %>
		<%= render 'users/profile', user: @user, room: @room, room_status: @room_status, roomID: @roomID, entry: @entry %>
		<% end %>

		<!-- form -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<!-- BOOKS -->
	<div class="col-xs-9">
		<h2>Books</h2>
		<%= render 'books/index', books: @books %>
	</div>
</div>

<% if @user == current_user %>
<!-- map -->
<h2>Your Map</h2>
<!-- Map表示  読み込みより前に記述-->
<div id="map"></div>

<% end %>

<style>
	#map{
		height: 400px;
	}
</style>

<script type="text/javascript">
	function initMap(){
		// lat,lon特定
		var test ={lat: <%= @user.latitude %>, lng:<%= @user.longitude %>};
		// map表示要素取得
		var map = new google.maps.Map(document.getElementById('map'),{
			zoom: 15,
			center: test
		});

		var transitLayer = new google.maps.TransitLayer();
		transitLayer.setMap(map);

		var contentString = '住所:<%= @user.address %>';
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});

		// Marker Pin
		var marker = new google.maps.Marker({
			position:test,
			map: map,
			title: contentString
		});

		marker.addListener('click', function(){
			infowindow.open(map, marker);
		});
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>






