<!-- Users#show-->
<!-- 更新完了 -->
<p id="notice"><%= notice %></p>


<div class="row">
	<div class="col-xs-3">
		<!-- Profile -->
		<h2>User info</h2>
		<% if @user.id == current_user.id %>
		<%= render 'users/profile', user: current_user %>
		<% else %>
		<%= render 'users/profile', user: @user %>
		<% end %>

		<!-- form -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<!-- BOOKS -->
	<div class="col-xs-9">
		<h2>Books</h2>
		<%= render 'books/index', books: @books %>
	</div>
</div>



