<!-- 投稿詳細ページ -->
<!-- 投稿完了 -->
<%= flash[:complete] %>
<p id="notice"><%= notice %></p>
<!-- 更新完了 -->
<%= flash[:success] %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<!-- format -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @newbook %>
	</div>
	
	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table table-hover table-inverse">
			<tbody>
				<tr>
					<!-- profile-img / Users詳細 -->
					<th><% if @user.id == current_user.id %>
						<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "100x100" %><br>
							<%= link_to @user.name, user_path(@book.user) %>
						<% else %>
						<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "40x40" %><br>
							<%= link_to @user.name, user_path(@book.user) %>
						<% end %>
					</th>
					<th><%= @book.title %></th>
					<th><%= @book.body %></th>

					<!-- favorites -->
					<% if @book.favorited_by?(current_user) %>
					<th>
						<%= link_to book_favorites_path(@book),method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<%= @book.favorites.count %>
						<% end %>
					</th>

					<% else %>
					<th>
						<%= link_to book_favorites_path(@book),method: :post do %>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<%= @book.favorites.count %>
						<% end %>
					</th>
					<% end %>

					<!-- comment count -->
					<th><%= "コメント数 : #{@book.book_comments.count}" %>
					</th>

					<% if @user.id == current_user.id %>
					<th><%= link_to "Edit", edit_book_path(@book),class:"btn-sm btn-success" %></th>
					<th class="button"><%= link_to "Destroy", book_path(@book), method: :delete,class:"btn-sm btn-danger" %></th>
					<% end %>
				</tr>
			</tbody>
		</table>

		<!-- comment/index -->
		<% @book.book_comments.each do |book_comment| %>
		<table class="table table-hover table-inverse">
			<tbody>
				<th>
					<%= attachment_image_tag @book_comment.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "40x40" %><br>
					<%= book_comment.comment %>
				</th>
				<th><%= @book.title %></th>

				<!-- delete comment -->
				<% if book_comment.user == current_user %>
				<th>
					<%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger pull-right" %>
				</th>
				<% end %>
			</tbody>
		</table>
		<% end %>

		<!-- comment format -->
		<%= form_for [@book, @book_comment] do |f| %>
		<div class="row">
			<div class="col-sm-12">
				<%= f.text_area :comment, rows:'5', class:"form-control" %>
			</div>
		</div>
		<%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>

	</div>
</div>

