<!-- 投稿/更新完了 -->
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<!-- format -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @newbook %>
	</div>
	
	<div class="col-xs-9">
		<h2>Book detail</h2>
		<!-- book/index -->
		<table class="table">
			<tr class="book-<% @book.id %>">
				<%= render partial: "books/detail", locals: {book: @book} %>
			</tr>
		</table>

		<!-- comment/index -->
		<table id="comment_area-<%= @book.id %>">
			<%= render partial: "book_comments/index", locals: {book: @book} %>
		</table>

		<!-- comment format -->
		<div id="comment-form-<%= @book.id %>">
			<%= render partial: "book_comments/form", locals: {book: @book, book_comment:@book_comment} %>
		</div>

	</div>
</div>

