<!-- 投稿/更新完了 -->
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<!-- format -->
		<h2>New book</h2>
		<%= render 'books/newform', book: @newbook %>
	</div>
	
	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<tr>
				<!-- profile-img / Users詳細 -->
				<td><% if @user.id == current_user.id %>
					<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "100x100" %><br>
							<%= link_to @user.name, user_path(@book.user) %>
					<% else %>
					<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size: "40x40" %><br>
							<%= link_to @user.name, user_path(@book.user) %>
					<% end %>
				</td>
				<td><%= @book.title %></td>
				<td><%= @book.body %></td>

				<!-- favorites -->
				<td id="favorite-<%= @book.id %>" >
					<%= render partial: "favorites/favorite", locals:{book: @book} %></td>

				<!-- comment count -->
				<td><%= "コメント数 : #{@book.book_comments.count}" %></td>
				<% if @user.id == current_user.id %>
				<td><%= link_to "Edit", edit_book_path(@book),class:"btn-sm btn-success" %></td>
				<td><%= link_to "Destroy", book_path(@book), method: :delete, remote: true, class:"btn-sm btn-danger" %></td>
				<% end %>
			</tr>
		</table>

		<!-- comment/index -->
		<table id="comment_area-<%= @book.id %>">
			<%= render partial: "book_comments/index", locals: {book: @book} %>
		</table>

		<!-- comment format -->
		<div id="comment-form-<%= @book.id %>">
			<%= render partial: "book_comments/form", locals: {book: @book, book_comment:@book_comment} %>
		</div>

	</div>
</div>

