
<div><%= link_to "戻る", :back, class: "btn btn-default" %></div>
<h3>トークルーム</h3>
<% if @messages.present? %>
<div>
	<% @messages.each do |message| %>
		<div><%= message.message %></div>
	<% end %>
</div>
<% end %>

<div>
	<%= form_for @message do |f| %>
		<%= f.text_field :message, size: 70 %>
		<%= f.hidden_field :room_id, value: @room.id %>
		<%= f.submit "送信する" %>
	<% end %>
</div>




